Package: com.neinzedd9.redfailedmessage
Name: RedFailedMessage
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Makes failed message bubbles red
Maintainer: NeinZedd9
Author: NeinZedd9
Section: Tweaks
